<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'home.css' %}" > 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    
</head>

<body>
    <section>

        <nav>

            <div>
                <img src="/static/img/violation.jpg" width="12%" height="5%">
            </div>
            <div class="hed">
                <h1>Your Violation Checker</h1>
            </div>

        </nav>
        <div class="containor">
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamu
                    iste corporis unde eos voluptatum quod numquam, eaque fugiat,
                    maxime similique consequuntur. Debitis nam maxime fugiat, omnis
                    delectus ipsum doloribus id.
                </p>
            </div>
            <div id="right_img">
                <img src="/static/img/police-station.png" width="50%">
            </div>

        </div>
        <div class="btn">
            <input type="submit" name="Sign_in" value="Sign in">
            <input type="submit" name="Sign_up" value="Sign up">
        </div>

    </section>
</body>

</html>