body{
    background-image: url("bac.jpg");
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(119, 111, 111);
}
h1 {
  text-align: center;
}
.containor {
  display: flex;
  align-items: center;
  margin:0 3% ;
}
#right_img{
    margin-top: 10px;
}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
    margin-right: 20px;
}
.btn input{
    margin-left: 10px;
}
nav .hed h1{
    display: flex;
    justify-content: center;
    align-items: center;
}