h1 {
    text-align: center;
}
section {
    margin-top: 5px;
    
}

tbody td:hover {
    color: rgba(24, 24, 220, 0.457);
    background-color: rgba(100, 56, 98, 0.205);

}
thead td {
    color: rgba(220, 53, 24, 0.457);
    
}
table {
    margin-top: 20px;
}